$color-left-container:#f0e7dd;

$color-category-hover:#f9f3ee;
$color-category-paragraph:#969696;

//Mobile
@media only screen and (max-width:1119px){
    .leftContainer{

        .category{
            padding:20px;
            padding-left:5px;

            p{
                margin-top:-20px;
            }
        }
    }
}

//Desktop
@media only screen and (min-width:1120px){
    .leftContainer{
        padding-left:25px;

        .category{
            padding:25px;
        }
    }
}


.leftContainer{
    width:15%;
    box-sizing:border-box;
    padding-top:209px;
    background-color:$color-left-container;

    .category{
        height:150px;
        box-sizing:border-box;
        cursor:pointer;
        user-select:none;

        h2{
            font-size:1.4rem;
            pointer-events: none
        }

        p{
            font-weight:bold;
            font-size:0.8rem;
            color:$color-category-paragraph;
            pointer-events: none;
            letter-spacing:1px;
        }
    }

    .category:hover{
        background-color:$color-category-hover;
    }
}

