$color-header:#f9f3ee;
$color-titleBar:#fbf8f5;

$color-button:#5a7f82;
$color-button-hover:#7dacaf;
$color-button-text:white;

$color-description:rgb(187, 187, 187);
$color-divider:rgba(0, 0, 0, 0.1);


.rightContainer{
    width:85%;
    height:100%;

    header{
        background-color:$color-header;
        padding:25px;
        
        h1{
            font-size:1.8rem;
            font-weight:normal;
            margin:0px;
            margin-bottom:10px;

            span{
                font-weight:bold;
            }
        }

        input[type=text]{
            height:50px;
            max-width:360px;
            width:75%;
            
            padding-left:20px;
            
            border:none;
            font-weight:bold;
        }

        input[type=button]{
            height:50px;
            width:16%;
            float:right;

            background-color:$color-button;
            color:$color-button-text;
            font-size:1.1rem;
            border:none;
            cursor:pointer;
        }

        input[type=button]:hover{
            background-color:$color-button-hover;
        }

    }








    .titleBar{
        width:100%;
        height:59px;
        padding:20px;
        box-sizing:border-box;
        background-color:$color-titleBar;

        h3{
            display:inline-block;
            width:20%;
            margin:0px;
            padding:0px;
            font-weight:bold;
            font-size:13px;
        }

        h3:first-child{
            width:28%;
        }

        h3:last-child{
            text-align:end;
            width:12%;
            box-sizing: border-box;
            padding-right:8px;
        }
    }





    

    main{
        padding:20px;

        div{
            height:75px;
            margin-bottom:20px;
            border-bottom:1px solid $color-divider;
            position:relative;

            p{
                margin:0px;
                padding:0px;
                font-weight:bold;
                font-size:14px;
            }


            .description{
                width:350px;
                color:$color-description;
                font-weight:normal;
                font-size:14px;
            }

            @media only screen and (max-width:1380px){
                .description{
                    width:200px;
                }
            }




            div{
                display:inline-block;
                width:72%;
                position:absolute;
                right:0px;
                top:10px;
                border:none;
                
                p{
                    display:inline-block;
                    width:27.8%;
                    margin-top:10px;
                }

                p:nth-child(4){
                    text-align:end;
                    width:16%;
                    box-sizing: border-box;
                }
            }
        }
    }


}